<div class="jumbotron">
	<div class="container">
    <h1><%= @hashtag.title %></h1>
    <p class="lead">
    	<%= pluralize(@posts_count, "photo")%> hashtagged with <%= @hashtag.title.delete('#')%>.</p>
    <p><a class="btn btn-lg btn-default" href=<%=posts_path%> role="button">Back</a></p>
  </div>
</div>


	<% @hashtag.posts.each do |post| %>
		<%= image_tag post.picture.url(:medium), class: 'uploaded-picture-hashtagged' %>
	<% end %>


