<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li></ul>
      <ul class="nav navbar-nav">
        <li ><a href="#">Lougram</a></li></ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">View Profile</a></li>
            <li class="divider"></li>
            <li><a href="#"><%= link_to 'Edit profile', edit_user_registration_path%></a></li>
            <li class="divider"></li>
            <li><a href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete%></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron posts_index">
	<div class="container">
    <h1>Lougram</h1>
    <p class="lead">You are on the posts page, where you can view your own posts and of people you follow.</p>
    <p><a class="btn btn-lg btn-success" href="posts/new" role="button">Post a Photo</a></p>
  </div>
</div>

<div class='container'>
	<% if @posts.any? %>
	<div class="all-posts">
	 	<% @posts.each do |post| %>
			<div class='row'>  	
	 			<div class='col-md-2 col-md-offset-2'>
	 				<%= post.user.email %>
	 			</div>
	 			
	 			<div class='col-md-5 post' data-id="<%= post.id %>">

	 				<div class="panel panel-default">
	  
					  <div class="panel-heading"><%= image_tag post.picture.url(:medium), class: 'uploaded-picture' %></div>
					  
					  <div class="panel-body">
					    <ul class="list-group">	

					      <li class="list-group-item">
					      <% if post.likes.any? {|l| l.user_id == current_user.id } %>
					      	<span class="liked_already"><%=" ❤ #{post.likes.count}"%></span>
					      <% else %>
					      		<%= link_to " ❤ #{post.likes.count}", post_likes_path(post), class: 'like-btn' %>
					      <% end%>
					      	| <%= link_to "Delete post", post_path(post), method: :delete %> 
					      	| <%= link_to "Show more", '#', data: {toggle: 'modal', target: ".image-modal-#{post.id}"} %></li>
					      <li class="list-group-item">
					      	<%= post.caption %> 
					        <% post.hashtags.each do |hashtag| %>
					          <%= link_to hashtag.title, hashtag_path(hashtag) %>
					         <% end%>

					      <% if post.comments.any? %>
					       <li class="list-group-item comment_count"><%= pluralize(post.comments.count, 'comment') %></li>
					   			<% post.comments.each do |comment| %>
							      <li class="comment_display list-group-item">		   			
						   				<span class="commenter"><%= comment.user.email %>:    </span> 
						   					<%= comment.comment %>
						   					<%= link_to '྾', post_comment_path(post, comment), method: :delete %>
							      </li>
					   			<%end%>						
						 		<%end%>

						     <li class="comment_form list-group-item">
					   			<%= form_for [post, @comment] do |f| %>

										<%= f.label :comment, "Comment:" %>
										<%= f.text_area :comment, placeholder: "Write a comment..."%><br />
										<%= f.submit %>

									<%end%>				
					      </li>

									<div class="modal fade image-modal-<%= post.id%> ">
									  <div class="modal-dialog modal-lg">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									        <h4 class="modal-title">Posted by <%= post.user.email %></h4>
									      </div>
									      <div class="modal-body">
									      	<%= image_tag post.picture.url%>
									      </div>
									      
									    </div>
									  </div>
									</div>

					        </li>
					    
					    
					    </ul>
					  </div>
					</div>

		 		</div>
		 		
			</div>

	  <%end%>	
	</div>

	<%else%>
		<p>There are no posts yet</p>
	<%end%>
</div>