<div class="jumbotron">
        <h1>Welcome to Instagram</h1>
        <p class="lead">Boo ya</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>
 
 <% if @posts.any? %>
  	<ul>
 	<% @posts.each do |post| %>
	 		<li> 
	 			<%= image_tag post.picture.url(:medium), class: 'uploaded-picture' %><br />
	 			<%= post.caption %> 
	 		</li>
	 			<%= link_to "Delete post", post_path(post), method: :delete %>
	 	<%end%>
	 	</ul>

<%else%>
	<p>There are no posts yet</p>
<%end%>

<%= link_to 'Edit profile', edit_user_registration_path%>
<%= link_to "Logout", destroy_user_session_path, method: :delete%>
<%= link_to "Create a Post", new_post_path %>


