<div class="jumbotron">
	<div class="container">
    <h1>Instagram</h1>
    <p class="lead">You are on the posts page, where you can view your own posts and of people you follow.</p>
    <p><a class="btn btn-lg btn-success" href="posts/new" role="button">Post a Photo</a></p>
  </div>
</div>
 
<% if @posts.any? %>

 	<% @posts.each do |post| %>
		<div class='row'>  	
 			<div class='col-md-2 col-md-offset-3'>
 				<%= post.user.email %>
 			</div>
 			
 			<div class='col-md-4'>

 				<div class="panel panel-default">
  
				  <div class="panel-heading"><%= image_tag post.picture.url(:medium), class: 'uploaded-picture' %></div>
				  
				  <div class="panel-body">
				    <ul class="list-group">
				      <li class="list-group-item">CLICK HERE TO LIKE <%= link_to "Delete post", post_path(post), method: :delete %></li>
				       
				      <li class="list-group-item"><%= post.caption %> </li>
				      <li class="list-group-item">
				        <% post.hashtags.each do |hashtag| %>
				          <%= hashtag.title %> 
				          <%= link_to 'Show', hashtag_path(hashtag) %>
				        <% end%>
				      </li>
				      
				    </ul>
				  </div>
				</div>

	 		</div>
	 		
		</div>
	<%end%>	

<%else%>
	<p>There are no posts yet</p>
<%end%>

<%= link_to 'Edit profile', edit_user_registration_path%>
<%= link_to "Logout", destroy_user_session_path, method: :delete%>


